@using System.Net
@using BookShelf.Shared.Model
@using BookShelf.UI.Services
@page "/books"
@inject HttpClient Http

<h1>@(_displayAdd ? "Add Book" : "Books")</h1>

<div class="container">
    <div class="row">
        @if (!_displayAdd)
        {
            <div class="col">
                <button onclick="@Reset" class="btn btn-danger float-right">Reset List</button>
                <button onclick="@Add" class="btn float-right">Add Book</button>
            </div>
        }
    </div>
</div>

@if (_displayAdd)
{
    <AddBook />
}
else
{
    @if (_books == null)
     {
         <p><em>Loading...</em></p>
     }
     else
     {
         <div class="container">
             <div class="row">
                 <div class="col">
                 </div>
                 <div class="col-6">
                     Title
                 </div>
                 <div class="col">
                     Authour(s)
                 </div>
                 <div class="col">
                     Shelf
                 </div>
             </div>
             <hr/>
             @foreach (var book in _books)
             {
                 <div class="row">
                     <div class="col">
                         <img src="@book.CoverImage" class="cover-image"/>
                     </div>
                     <div class="col-6">
                         @book.Title
                     </div>
                     <div class="col">
                         @book.Authors
                     </div>
                     <div class="col">
                         @book.Shelf
                     </div>
                 </div>
             }
         </div>
     }
}

@functions
{

    [Inject]
    private BookService _bookService { get; set; }

    IEnumerable<Book> _books;
    bool _displayAdd;

    protected override async Task OnInitAsync()
    {
        await GetBooks();
    }

    async Task Reset()
    {
        _books = null;
        var success = await _bookService.Reset();

        if (success)
        {
            await GetBooks();
        }
    }

    async Task GetBooks()
    {
        _books = await _bookService.GetBooks();
    }

    void Add()
    {
        _displayAdd = true;
    }
}
