@using BookShelf.Shared.Model
@page "/books"
@inject HttpClient Http

<h1>Books</h1>

<div class="col">
    <button onclick="@Reset">Reset List</button>
</div>

@if (books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-6">
                Title
            </div>
            <div class="col">
                Authour(s)
            </div>
            <div class="col">
                Shelf
            </div>
        </div>
        <hr />
        @foreach (var book in books)
        {
            <div class="row">
                <div class="col">
                    <img src="@book.CoverImage" class="cover-image" />
                </div>
                <div class="col-6">
                    @book.Title
                </div>
                <div class="col">
                    @book.Authors
                </div>
                <div class="col">
                    @book.Shelf
                </div>
            </div>
        }
    </div>

}

@functions
{
    List<Book> books;

    protected override async Task OnInitAsync()
    {
        books = await Http.GetJsonAsync<List<Book>>("https://uhguay2qye.execute-api.eu-west-2.amazonaws.com/Books/books");
    }

    async Task Reset()
    {
        await Http.GetJsonAsync<List<Book>>("https://uhguay2qye.execute-api.eu-west-2.amazonaws.com/Books/reset");
    }
}
